/*----Global----*/
* {
  margin: 0px;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  background-color: darkcyan;
}
#Wrapper {
  position: relative;
  width: 1400px;
}
#title {
  color: white;
  padding-top: 1rem;
  text-align: center;
  font-size: 60px;
}
#gameScreen {
  width: 80rem;
  display: block;
  height: 40rem;
  margin-top: 2%;
  overflow: hidden;
  border-radius: 2rem;
}
/*----Global----*/
/*----Map----*/
.Map {
  width: 100%;
  height: 90%;
  position: relative;
  background-color: aquamarine;
}
.Hud {
  font-size: x-large;
  top: 5%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.Hud .pause:hover {
  background-color: black;
  color: white;
}
.Hud .Player,
.Hud .Points,
.Hud .pause,
.Hud .Health,
.Hud .Timer {
  border: solid black 2px;
  border-radius: 25px;
  padding: 10px;
  width: fit-content;
}
.ground {
  width: 100%;
  height: 3rem;
  position: relative;
  background-color: rgb(125, 208, 41);
}
.ground .topGround {
  position: relative;
  top: 0px;
  height: 1rem;
  background-color: rgb(50, 90, 9);
}
#grass {
  position: absolute;
  width: 100%;
  height: 2rem;
  bottom: 3rem;
  background-size: 300px;
  background-position: 2.5rem 2.5rem;
  animation: grassBGMotion 4000ms infinite linear;
  background-image: url(./Site_Imgs/BackGround/grass-removebg-preview.png);
}
@keyframes grassBGMotion {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1200px;
  }
}

.Character {
  --bottom: 0;
  right: 90%;
  bottom: calc(var(--bottom) * 1%);
  width: 40px;
  height: 80px;
  position: absolute;
  background-color: aliceblue;
}
.Object {
  --right: 0;
  width: 50px;
  height: 50px;
  bottom: 0px;
  right: calc(var(--right) * 1%);
  position: absolute;
  background-color: blue;
}
.Object1 {
  height: 100px;
}
/*----Map----*/
/*----Menu----*/
.Menu {
  /* border: solid black 2px; */
  position: absolute;
  z-index: +1;
  width: 75.9rem;
  height: 30rem;
  margin-top: 3.5rem;
  display: flex;
  padding: 2em;
  flex-direction: column;
}
.Menu .btn,
.Menu .PlayerName {
  text-align: center;
  font-size: x-large;
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
}

.Menu .btn {
  background-color: bisque;
}
.Menu .btn:hover {
  color: bisque;
  background-color: black;
}
/*----Menu----*/
/*----Clouds----*/
.clouds {
  width: 170px;
  height: 170px;
  position: absolute;
}
.CloudVibesLow {
  animation: CloudVibesLow 2000ms linear infinite;
}
.CloudVibesHigh {
  animation: CloudVibesHigh 2000ms linear infinite;
}
@keyframes CloudVibesLow {
  0% {
    top: 20%;
  }
  50% {
    top: 17%;
  }
  100% {
    top: 20%;
  }
}
@keyframes CloudVibesHigh {
  0% {
    top: 10%;
  }
  50% {
    top: 8.5%;
  }
  100% {
    top: 10%;
  }
}
.clouds div:nth-child(1) {
  width: 100%;
  height: 30%;
  background-color: rgb(255, 253, 253);
  border-radius: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.clouds div:nth-child(2) {
  width: 50%;
  height: 50%;
  background-color: rgb(255, 253, 253);
  position: absolute;
  border-radius: 500px;
  left: 5%;
  bottom: 10%;
}
.clouds div:nth-child(3) {
  width: 35%;
  height: 35%;
  background-color: rgb(255, 253, 253);
  position: absolute;
  border-radius: 500px;
  left: 40%;
  bottom: 10%;
}
/*----Clouds----*/
/*----trees----*/
.treesBG {
  background: url(./Site_Imgs/BackGround/Trees_Bg.png);
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-position-y: 80px;
  animation: treesBGMotion 5000ms infinite linear;
}
@keyframes treesBGMotion {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1280px;
  }
}
/*----trees----*/
