/*----Global----*/
* {
  margin: 0px;
  align-items: center;
  justify-content: center;
}
body {
  display: flex;
  background-color: darkcyan;
}
#Wrapper {
  position: relative;
  width: 1400px;
}
#title {
  color: white;
  padding-top: 1rem;
  text-align: center;
  font-size: 60px;
}
#gameScreen {
  width: 80rem;
  display: block;
  height: 40rem;
  margin-top: 2%;
  overflow: hidden;
  border-radius: 2rem;
}
/*----Global----*/
/*----Map----*/
.Map {
  width: 100%;
  height: 90%;
  position: relative;
  background-color: aquamarine;
}
.Hud {
  top: 5%;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.Hud .pause {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
.Hud .pause:hover {
  color: white;
}
.Hud .Player,
.Hud .pause,
.Hud .Timer {
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
  width: fit-content;
}
.ground {
  width: 100%;
  height: 4rem;
  position: relative;
  background-color: rgb(125, 208, 41);
}
.ground .topGround {
  position: relative;
  top: 0px;
  height: 1rem;
  background-color: rgb(50, 90, 9);
}
#grass {
  position: absolute;
  width: 100%;
  height: 3rem;
  bottom: 3rem;
  background-size: 300px;
  background-position: 2.5rem 2.5rem;
  animation: grassBGMotion 3780ms infinite linear;
  background-image: url(./Site_Imgs/BackGround/grass-removebg-preview.png);
}
@keyframes grassBGMotion {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1200px;
  }
}

.Character {
  --bottom: 0;
  right: 90%;
  bottom: calc(var(--bottom) * 1%);
  width: 80px;
  height: 80px;
  position: absolute;
  background-size: 100% 100%;
}
.Object {
  --right: 0;
  width: 80px;
  bottom: 0px;
  right: calc(var(--right) * 1%);
  position: absolute;
  background-size: 100% 100%;
}
.Object0 {
  height: 100px;
  background-image: url(./Site_Imgs/Objects/object0-removebg-preview.png);
}
.Object1 {
  height: 100px;
  background-image: url(./Site_Imgs/Objects/object1-removebg-preview.png);
}
.Object2 {
  height: 50px;
  background-image: url(./Site_Imgs/Objects/object2-removebg-preview.png);
}
.Object3 {
  height: 50px;
  background-image: url(./Site_Imgs/Objects/object3-removebg-preview.png);
}
/*----Map----*/
/*----Menu----*/
.Menu {
  position: absolute;
  border-radius: 2rem;
  z-index: +3;
  width: 75.9rem;
  height: 35.9rem;
  margin-top: 1.6rem;
  display: flex;
  padding: 2em;
  flex-direction: column;
}
.Menu .btn,
.Menu .PlayerName {
  text-align: center;
  font-size: x-large;
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 25px;
}

.Menu .btn {
  background-color: bisque;
}
.Menu .btn:hover {
  color: bisque;
  background-color: black;
}
.GameOver {
  width: 100%;
  height: 100%;
  text-align: center;
  color: aquamarine;
  font-size: 20em;
  display: flex;
}
/*----Menu----*/
/*----Table----*/
.Table {
  background-color: aquamarine;
  border: black 2px solid;
  border-radius: 2rem;
  display: flex;
  font-size: xx-large;
  flex-direction: column;
}
th {
  padding: 15px;
  margin: 20px;
}
tbody tr:nth-child(1) {
  font-weight: bold;
}
td {
  padding: 15px;
  border-left: 1px solid black;
}
td:nth-child(1) {
  border: none;
}
/*----Table----*/
/*----Clouds----*/
.clouds {
  width: calc(var(--size) * 1%);
  height: calc(var(--size) * 1%);
  right: calc(var(--right) * 1%);
  top: calc(var(--height) * 1%);
  position: absolute;
  background-image: url();
  background-size: 100% 100%;
  animation: CloudVibes 2000ms linear infinite;
}
.cloudImg1 {
  background-image: url(./Site_Imgs/BackGround/cloud1.png);
}
.cloudImg2 {
  background-image: url(./Site_Imgs/BackGround/cloud2.png);
}

@keyframes CloudVibes {
  0% {
    top: calc(var(--height) * 1%);
  }
  50% {
    top: 25%;
  }
  100% {
    top: calc(var(--height) * 1%);
  }
}

.clouds div:nth-child(1) {
  width: 100%;
  height: 30%;
  background-color: rgb(255, 253, 253);
  border-radius: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.clouds div:nth-child(2) {
  width: 50%;
  height: 50%;
  background-color: rgb(255, 253, 253);
  position: absolute;
  border-radius: 500px;
  left: 5%;
  bottom: 10%;
}
.clouds div:nth-child(3) {
  width: 35%;
  height: 35%;
  background-color: rgb(255, 253, 253);
  position: absolute;
  border-radius: 500px;
  left: 40%;
  bottom: 10%;
}
/*----Clouds----*/
/*----trees----*/
.treesBG {
  background: url(./Site_Imgs/BackGround/Trees_Bg.png);
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-position-y: 80px;
  animation: treesBGMotion 5000ms infinite linear;
}
@keyframes treesBGMotion {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1280px;
  }
}
/*----trees----*/
